include ./modules/base
- var topperWords = self.htmlWebpackPlugin.options.data.topper;
- var footerWords = self.htmlWebpackPlugin.options.data.footer;
- var pageWords = self.htmlWebpackPlugin.options.data.base;

+headMeta(pageWords, 'null')
  +topper(topperWords, 3)
  //- Main Container
  main.container
    .bot-content
      section.s1
        .s1-block
          figure
          div.s1-title
            span.theme-color.font-bold!= '基本面'
            span.s1-sub-title.font-bold!= '歷史觀察清單'
          //- input(type='text' placeholder='輸入關鍵字')
      section.s2
        .s2-block
          .s2-menu
            a.s2-menu-nav.font-bold.js-selected(href="#")!= '歷史觀察清單'
            a.s2-menu-nav.font-bold(href="#")!= '當前觀察清單'

      section.s3
        .s3-block
          table(cellspacing='5').s3-table-data
            tr.data-row.data-row-title
              th!= '股票名稱'
              th!= '起始日'
              th!= '買入價格'
              th!= '結束日'
              th!= '賣出價格'
              th!= '報酬(%)'
            tr.data-row.reduce
              th!= '9926新海'
              th!= '2018-01-12'
              th!= '40.8'
              th!= '2018-01-12'
              th!= '40.2'
              th!= '-1.3%'
            tr.data-row.reduce
              th!= '9926新海'
              th!= '2018-01-12'
              th!= '40.8'
              th!= '2018-01-12'
              th!= '40.2'
              th!= '-1.3%'
            tr.data-row.increase
              th!= '9926新海'
              th!= '2018-01-12'
              th!= '40.8'
              th!= '2018-01-12'
              th!= '40.2'
              th!= '-1.3%'
            tr.data-row.reduce
              th!= '9926新海'
              th!= '2018-01-12'
              th!= '40.8'
              th!= '2018-01-12'
              th!= '40.2'
              th!= '-1.3%'


  //- Footer
  +footer(footerWords)

